
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  background-color: #ff7272;
  font-family: monospace;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}