
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  background-color: #ff7272;
  font-family: monospace;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}


/* If the browser window is smaller than 650px, the background color will change to black and the text to white: */
@media (max-width: 650px) {
  body {
    background-color: black;
    color:  white;
  }
}


/* If the browser window is shorter than 650px,
the background will turn orange. */

@media (max-height: 650px) {
  body {
    background-color: orange;
  }
}


/* The body's font-size is smaller by default */
body {
  font-size: 16px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}


img {
  max-width: 100%;
  height: auto;
}
